html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    margin: 0;
    padding: 0;
}

video {
    width: 100%;
    height: auto;
}

img {
    max-width: 100%;
}

section {
    clear: both;
}
.mt-2{margin-top: 4rem}
.dog img{display: block;
margin: 2.5rem auto; max-width: 220px}
.sec-pad {
       padding: 0 0 3rem 0px;
}

.fondo-bg {
    width: 100%;
    background: url(../img/rulfo-vias.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 120%;
    transition: 5s ease;
    -moz-transition: 5s ease;
    /* Firefox */
    -webkit-transition: 5s ease;
    /* Chrome - Safari */
    -o-transition: 5s ease;
    /* Opera */
}

.cont-tags{
  float:none !important;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#section-01 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #000;
}

#section-01 .fondo-intro {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../img/rulfo-vias.jpg);
    background-size: cover;
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-transition: 4s all;
    transition: 4s all;
    /*align-self: center;*/
    z-index: 10;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

#section-01 .fondo-intro-normal {
    -webkit-transform: scale(1);
    transform: scale(1);
}

#section-01 .fondo-intro .rostro-rulfo {
    content: "";
    background-image: url(../img/rulfo-frente-2.png);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    bottom: 0px;
    right: 0px;
    -webkit-transition: 1.5s ease;
    transition: 1.5s ease;
    opacity: 0;
    width: 50%;
    height: 80%;
}


#section-01 .wrapper {
    z-index: 20;
    -ms-flex-item-align: start;
    align-self: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    margin: 0px 0px 0px 10%;
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
}


#section-01 .tittle {
    color: #FFF;
    font-family: 'Playfair Display', serif;
    text-align: left;
    font-size: 1.6rem;
    line-height: 1em;
    margin: 12% 5%;
    padding: 2% 0%;
    width: 100%;
    -ms-flex-item-align: center;
    align-self: center;
}

#section-01 .tittle h2 {
    margin-right: 1.6em;
}

.bg {
    position: absolute;
    overflow: hidden;
    z-index: -1 !important;
}

.bg img {
    width: 100%;
    position: relative;
    z-index: -1 !important;
    vertical-align: middle;
    top: 0;
}

.bg-ins {
    width: 100%;
    background: url(../img/instrumentos-rulfo.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 550px;
}

.bg-ins-02 {
    width: 100%;
    background: url(../img/juan-rulfo-foto-02.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 550px;
}

.bg-dark {
    background-color: #000;
    padding: 4rem 0px;
}

.wrapper {
    margin: 0 auto;
    background-color: transparent;
    width: auto;
    float: none;
    max-width: 1200px;
    min-height: 1px;
}

.wrapper:after {
    content: '';
    display: block;
    clear: both;
}

.pie-foto, .pie-foto-blanco {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}


.pie-foto,.pie-foto-blanco{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.pie-foto p,.pie-foto-blanco p{
  text-align: right;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  font-size: .8rem;
  font-family: "Roboto";
  font-weight: 300;
  padding: 0 0 .5rem 0;
  border-bottom: 1px dotted #ccc;
}

.pie-foto-blanco p{
  color: #fff;
}


.pie-foto-flotante{
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pie-foto-flotante p{
  text-align: center !important;
  background-color: #000;
  padding: 10px;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  -ms-flex-item-align: center;
      align-self: center;
}


.footer {
    padding: 0% 0;
    text-align: center!important;
}

.row {
    position: relative;
    width: 100%;
}

a {
    background-color: transparent;
    text-decoration: none;
    color: inherit;

}

a:active, a:hover {
    outline: 0;
}

strong {
    font-weight: bold;
}

h1, h2, h3 {
    margin: 5% auto;
}

h4, h5, h6 {
    margin: 2% auto;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

td, th {
    padding: 0;
}

.bg-1 {
    color: #fff;
    background-color: #337ab7;
}

.bg-2 {
    color: #fff;
    background-color: #337ab7;
}

.bg-3 {
    color: #fff;
    background-color: #337ab7;
}

.page-header {
    position: fixed;
    width: 100%;
    min-height: 1px;
    /*height: 50px;*/
    z-index: 999;
    top: 0px;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
    z-index: 1000;
}

.page-header .wrapper{
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.page-header .wrapper::after {
    display: none;
}

.page-header .wrapper .rulfo-tag {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    opacity: 0;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
}

.page-header .wrapper .rulfo-tag {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.page-header .wrapper .rulfo-tag a {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
    align-content: center;
}

.page-header .wrapper .rulfo-tag img{
  -ms-flex-item-align: center;
      align-self: center;
      max-width: 100%;

     height: 30px;
     width: auto;
}

.page-header.active{
    background-color: #fff;
    border:4px solid #f2f2f2;

}

.page-header.active .wrapper .rulfo-tag {
    opacity: 1;
}

.page-header.active .logo, .page-header.active .redes {
    padding: 5px;
}

.page-header .rulfo-tag {}

.logo {
    margin: 0px 15px;
    width: 40px;
    position: relative;
    float: left;
    background-color: white;
    padding: 30px 10px 5px;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
}

.logo img {
    width: 100%;
    height: auto;
}

.redes {
    width: 40px;
    float: right;
    text-align: right;
    margin: 0px 15px;
    background-color: white;
    padding: 30px 10px 5px;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
    position: relative;
}

.redes a{
  display:block;
}

.redes img {
    height: auto;
}

.redes a{
    display:block;
}

.redes ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    width: 100%;
    float: right;
    margin: 5% 10%;
    padding: 15px 0 0 0;
    position: absolute;
    left: 0px;
    margin: auto;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.redes ul li {
    display: inline;
    list-style: none;
    width: 30px;
    margin: 10px 11px;
}

.redes ul li img {
    width: 1.8em;
}

.img-centrada {
    vertical-align: middle;
    width: 100%;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.img-circle {
    border-radius: 50%;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}


/*========= Textos Tamaños y Colores =================*/

.tittle {
    color: #FFF;
    font-family: 'Playfair Display', serif;
    text-align: left;
    font-size: 1.6rem;
    line-height: 1em;
    margin: 12% 5%;
    padding: 2% 0%;
    width: 40%;
}

.tittle h1 {
    font-size: 42px;
    color: #FFF;
    font-weight: bolder;
    line-height: 1em;
    margin: 1% 0;
    text-align: left;
    text-transform: uppercase;
}

.tittle .magno {
    font-size: 8rem;
    color: #FFF;
    font-weight: 800;
    line-height: 1em;
    margin: 3% 0;
    text-align: left;
    text-transform: uppercase;
}

.sub-tittle {
    font-size: 32px;
    color: #FFF;
    width: 40%;
    float: right;
    font-weight: 800;
    font-style: italic;
    line-height: 1em;
    margin: 3% 0;
    padding-top: 10px;
    border-top: 2px solid #fff;
    text-align: right;
    text-transform: uppercase;
}

.highlights-w {
    color: #fff;
    font-family: 'Playfair Display', serif;
    font-size: 2.1rem;
    text-align: center;
    font-weight: 800;
    line-height: 1.3em;
    padding: 0% 10%;
    text-transform: uppercase;
    letter-spacing: .3rem;
    margin: 10px 0;
}

.b-box {
    background-color: #000;
    padding: 30px 0px;
    width: 60%;
    margin: 150px auto 40px auto;
    display: block;
}

.b-box .cita {
    padding: 0 70px;
}

.highlights {
    color: #000;
    font-family: 'Playfair Display', serif;
    font-size: 2.1rem;
    text-align: center;
    font-weight: 800;
    line-height: 1.3em;
    padding: 0% 10%;
    text-transform: uppercase;
    letter-spacing: .3rem;
    margin: 0;
}

.img-cita {
    width: 40px;
    margin: 20px auto 15px;
}

.img-ornamento {
    width: 200px;
    margin: 1rem auto 1.2rem auto;
}
.gray-bg{background-color: #f2f2f2}
p.apertura{

    font-family: 'Roboto', sans-serif;
 font-size: 1rem;
 font-weight: 300;
 max-width: 500px;
 display: block;
 margin: 0 auto 4rem auto;
 line-height: 1.5rem
}
.standar-padding{padding:3rem 0;}

.cita {
    color: #000;
   font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.6rem;
    padding-bottom: 1rem;
    border-bottom: 1px dotted black;
    text-align: center;
    margin: 1rem 0;
}

.autor {
    color: #000;
      font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-size: 1.1rem;
    text-align: center;
    line-height: 1.3em;
    padding: 0% 10%;
    margin: 10px 0px;
}

.bg-dark .highlights {
    color: #fff;
    font-family: 'Playfair Display', serif;
    font-size: 2.1rem;
    text-align: center;
    font-weight: 800;
    line-height: 1.3em;
    padding: 0% 10% 0%;
    text-transform: uppercase;
    letter-spacing: .3rem;
    margin: 0;
}

.bg-dark .img-cita {
    width: 40px;
    margin: 40px auto 15px;
    color: #fff;
}

.bg-dark .img-ornamento {
    width: 200px;
    margin: 10px auto;
}

.bg-dark .cita {
    color: rgba(255,255,255,.8);
    border-color:rgba(255,255,255,.4);
    max-width: 350px;
    font-weight: 100;
    font-family: "Roboto";
    display: block;
    margin: auto;

}

.bg-dark .autor {
    color: #fff;
    text-align: center;
}

.nombres {
    color: #A1A1A1;
    font-family: 'Playfair Display', serif;
    font-size: 1.8rem;
    text-align: center;
    font-weight: 400;
    line-height: 1.3em;
    padding: 4% 10%;
    font-style: italic;
    letter-spacing: .5rem;
    margin: 0;
}

.nombres span {
    opacity: 0;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
}

.nombres span.remark {
    color: #000;
}

.tittle p {
    font-size: 16px;
    color: #FFF;
    font-weight: lighter;
    line-height: 1.1em;
    text-align: center;
}

.tittle #textos {
    font-size: 16px;
    color: #FFF;
    text-transform: uppercase;
    font-weight: lighter;
    line-height: 1.1em;
    margin: 3% auto;
    text-align: center;
}

.tittle a.fa {
    text-align: center;
    margin: 5% 0;
}

.contador {
    position: fixed;
    z-index: 999;
    right: 10px;
    top: 0%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.slider {

    top: 0px;
    left: 0px;
    z-index: 97;
    opacity: 1;
    display: block;
    visibility: hidden;
    min-height: 400px;
}

.slider .foto-autor {
    max-width: 120px;
    display: block;
    margin: 30px auto;
    border: 1px solid black;
}

.wrapper-slide {
    width: 40%;
    margin: auto;
    position: relative;
}

#flechas {
    width: 100%;

    height: auto;
    position: absolute;
    top: 35%;
    left: 0px;
    z-index: 110;
}

#flechas #prev, #flechas #next {
    position: absolute;
    top: 0px;
}


#flechas #prev {
    left: 0px;
}

#flechas #next {
    right: 0px;
}

.cycle-slideshow .cycle-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.cycle-slideshow .cycle-slide figure {
    -ms-flex-item-align: center;
    align-self: center;
    padding: 0px 30px;
}

.cycle-slideshow .cycle-slide blockquote {
    padding: 0px 30px;
}

.cycle-slideshow .cycle-slide blockquote p {
    text-align: center;
}

.cycle-slideshow div blockquote p.autor {
    font-weight: bold;
}


.pager1 {
    position: relative;
    margin: 0px auto;
    width: 100%;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.pager1 span {
    font-size: 3.5em !important;
    margin: 0px 6px;
    cursor: pointer;
    text-align: center;
}

.cycle-pager-active {
    color: #A1A1A1;
}

ul.menu-lat {
    list-style: none;
    -ms-flex-item-align: center;
    align-self: center;
}

ul>li.seccion {
    background-color: #fff;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: 10px 5px;
    cursor: pointer;
    border: solid 1px #000;
    position: relative;
}

ul>li.seccion.activo::after {
    content: "";
    position: absolute;
    background-color: #000;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    left: 2px;
    top: 2px;
}

p {
    margin: 10px 0px;
}

p .txt {
    font-family: inherit;
    max-width: 600px;
    font-size: 14px;
    line-height: 1.1em;
}

.wrapper-txt {
    margin: 0 auto;
    position: relative;
    background-color: transparent;
    width: auto;
    float: none;
    max-width: 800px;
    min-height: 1px;
}

.txt-footer {
    color: #484848;
    font-size: .8em;
    font-weight: 100;
    text-align: center;
    line-height: 1.3;
}

.txt-left {
    text-align: left;
}

.txt-right {
    text-align: right;
}

.txt-center {
    text-align: center;
}

.txt-justify {
    text-align: justify;
}

.txt-nowrap {
    white-space: nowrap;
}

.txt-lowercase {
    text-transform: lowercase;
}

.txt-uppercase {
    text-transform: uppercase;
}

.txt-capitalize {
    text-transform: capitalize;
}


/*========= Textos  Colores =================*/

.txt-w {
    color: #FFF;
}

.txt-muted {
    color: #777;
}

.txt-primary {
    color: /*#337ab7*/
    ;
}

.txt-secondary {
    color: /*#337ab7*/
    ;
}

.txt-third {
    color: /*#337ab7*/
    ;
}

.hr {
    width: 100%;
    margin: 50px auto;
    height: 1px;
    background-color: #212121;
}


/*Listas ordenadas y desordenadas*/

ul, ol {
    margin-top: 0;
    margin-bottom: 10px;
}

ul ul, ol ul, ul ol, ol ol {
    margin-bottom: 0;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}

.list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
}

.list-inline>li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}

.s-1, .m-1, .l-1, .s-2, .m-2, .l-2, .s-3, .m-3, .l-3, .s-4, .m-4, .l-4, .s-5, .m-5, .l-5, .s-6, .m-6, .l-6, .s-7, .m-7, .l-7, .s-8, .m-8, .l-8, .s-9, .m-9, .l-9, .s-10, .m-10, .l-10, .s-11, .m-11, .l-11, .s-12, .m-12, .l-12 {
    position: relative;
    min-height: 1px;
}


/*=========================Reproductor de audio============================*/

#videoNombresRulfo {
    opacity: 0;
}

.audioRep {
    width: 100%;
    height: auto;
    margin: 30px auto;

}
.audioRep h5{

    color: rgba(255,255,255,.5);
    font-weight: 300;
    font-family: "Roboto"
}
.audioRep h6{

    color: rgba(255,255,255,.5);
    font-weight: 300;
    font-family: "Roboto"
}
.b-light{    font-weight: 300;
    font-family: "Roboto"}
.audioRep .repR {
    width: 100%;
    clear: both;
    display: none;
}
.book-quote{
    font-size: 1.4rem;
    font-weight: 100;
}
.audioRep .repV {
    background-color: #fff;
    width: 100%;
    clear: both;
    border-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.audioRep .repV .play-pause {
  border-right: solid 2px #000;
  padding: 5px;
  -ms-flex-item-align: center;
      align-self: center;
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: 15px center;
}

.audioRep .repV .play-pause.play {
    background-image: url(../img/play.svg);
}

.audioRep .repV .play-pause.pause {
    background-image: url(../img/pause.svg);
    background-position: 14px center;
}

.audioRep .repV .progreso {
    -ms-flex-line-pack: center;
    align-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 5px 10px;
}

.audioRep .repV .progreso .barra {
    height: 2px;
    width: 100%;
    background-color: #000;
    -ms-flex-item-align: center;
    align-self: center;
    position: relative;
}

.audioRep .repV .progreso .barra .bolita {
    width: 0%;
    display: block;
    position: relative;
}

.audioRep .repV .progreso .barra .bolita::after {
    content: "";
    display: block;
    position: absolute;
    right: -3px;
    top: -4px;
    background-color: #000;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.audioRep .repV .play-pause a {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 1.5px solid #000;
    cursor: pointer;
    display: block;
    -ms-flex-item-align: center;
    align-self: center;
}

#lista-keywords{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#lista-keywords li{
  list-style: none;
  margin: 0px;
  padding: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#lista-keywords a{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 12px;
  border: solid 1px #ccc;
  border-radius: 20px;
  margin: 5px 10px;
  font-size: .8rem
}

@media (min-width:1000px) {
  #section-01 .fondo-intro .rostro-rulfo{
    height: 100%;
  }
}

@media (min-width:770px) and (max-width:1025px) and (orientation:portrait) {
  #section-01 .wrapper {
      position: absolute;
      bottom: 0px;
      height: auto;
  }
  #section-01 .fondo-intro .rostro-rulfo{
    background-position: center;
    width: 100%;
    top: 0px;
  }
}

@media (min-width:421px) and (max-width:769px) and (orientation:portrait) {
  #section-01 .wrapper {
      position: absolute;
      bottom: 0px;
      height: auto;
  }
  #section-01 .fondo-intro .rostro-rulfo{
    background-position: center;
    width: 100%;
    top: 0px;
  }
}

@media (min-width:0px) and (max-width:420px) and (orientation:portrait) {
    #section-01 .wrapper {
        position: absolute;
        bottom: 0px;
        height: auto;
    }

    #section-01 .fondo-intro .rostro-rulfo{
      background-position: center;
    }
}


@media (min-width:1px) and (max-width:668px) and (orientation:landscape) {

  #section-01 .fondo-intro .rostro-rulfo{
        width: 40% !important;
        height: 100% !important;
        background-size: contain !important;
        background-position: center bottom !important
  }
}




/*======Media query Small identado para trabajo como s-'n' el No de columna en el grid========= */

@media (min-width: 0px) and (max-width: 670px) {
    #section-01 .fondo-intro .rostro-rulfo {
        content: "";
        background-image: url(../img/rulfo-frente-2.png);
        /* background-position: center; */
        background-repeat: no-repeat;
        background-size: cover;
        /* position: absolute; */
        background-position: center;
        top: 0px;
        right: 0px;
        width: 100%;
        /* height: 900px; */
        -webkit-transition: 1.5s ease;
        transition: 1.5s ease;
        opacity: 0;
    }
    .contador {
        display: none;
    }
    .fondo-bg {
        width: 100%;
        background: url(../img/rulfo-vias.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position-x: 75%;
        background-size: 400%;
        transition: 5s ease;
        -moz-transition: 5s ease;
        /* Firefox */
        -webkit-transition: 5s ease;
        /* Chrome - Safari */
        -o-transition: 5s ease;
        /* Opera */
    }

    .wrapper-slide {
        width: 90%;
        margin: auto;
        position: relative;
    }
    .b-box .cita {
        padding: 0 20px;
    }
    .audioRep {
        width: 215px;
        height: auto;
        margin: 30px auto;
    }

    .redes {
        width: 40px;
        float: right;
        text-align: right;
        margin-top: 0px;
        margin-right: 10px;
        right: 0px;
        background-color: white;
        padding: 30px 10px 5px;
    }
    .tittle {
        color: #FFF;
        font-family: 'Playfair Display', serif;
        text-align: left;
        font-size: 1.6rem;
        line-height: 1em;
        margin: 60% 15%;
        padding: 2% 0%;
        width: 70%;
    }
    .tittle h1 {
        font-size: 32px;
        color: #FFF;
        font-weight: bolder;
        line-height: 1em;
        margin: 1% 0;
        text-align: left;
        text-transform: uppercase;
    }
    .tittle .magno {
        font-size: 82px;
        color: #FFF;
        font-weight: 800;
        line-height: 1em;
        margin: 3% 0;
        text-align: left;
        text-transform: uppercase;
    }
    .sub-tittle {
        font-size: 26px;
        color: #FFF;
        width: 50%;
        float: right;
        font-weight: 800;
        font-style: italic;
        line-height: 1em;
        margin: 3% 0;
        padding-top: 10px;
        border-top: 2px solid #fff;
        text-align: right;
        text-transform: uppercase;
    }
    .b-box {
        background-color: #000;
        padding: 10px 0px;
        width: 100%;
        margin: 200px auto 40px;
    }
    .out-credit{
        display: block !important;
        border-color: red
    }
    .nombres {
        color: #A1A1A1;
        font-family: 'Playfair Display', serif;
        font-size: 1.8rem;
        text-align: center;
        font-weight: 400;
        line-height: 1.3em;
        padding: 10% 10%;
        font-style: italic;
        letter-spacing: .5rem;
        margin: 0;
    }
    .s-1, .s-2, .s-3, .s-4, .s-5, .s-6, .s-7, .s-8, .s-9, .s-10, .s-11, .s-12 {
        float: left;
    }
    .s-12 {
        width: 100%;
    }
    .s-11 {
        width: 91.66666667%;
    }
    .s-10 {
        width: 83.33333333%;
    }
    .s-9 {
        width: 75%;
    }
    .s-8 {
        width: 66.66666667%;
    }
    .s-7 {
        width: 58.33333333%;
    }
    .s-6 {
        width: 50%;
    }
    .s-5 {
        width: 41.66666667%;
    }
    .s-4 {
        width: 33.33333333%;
    }
    .s-3 {
        width: 25%;
    }
    .s-2 {
        width: 16.66666667%;
    }
    .s-1 {
        width: 8.33333333%;
    }
    .s-pull-12 {
        right: 100%;
    }
    .s-pull-11 {
        right: 91.66666667%;
    }
    .s-pull-10 {
        right: 83.33333333%;
    }
    .s-pull-9 {
        right: 75%;
    }
    .s-pull-8 {
        right: 66.66666667%;
    }
    .s-pull-7 {
        right: 58.33333333%;
    }
    .s-pull-6 {
        right: 50%;
    }
    .s-pull-5 {
        right: 41.66666667%;
    }
    .s-pull-4 {
        right: 33.33333333%;
    }
    .s-pull-3 {
        right: 25%;
    }
    .s-pull-2 {
        right: 16.66666667%;
    }
    .s-pull-1 {
        right: 8.33333333%;
    }
    .s-pull-0 {
        right: auto;
    }
    .s-push-12 {
        left: 100%;
    }
    .s-push-11 {
        left: 91.66666667%;
    }
    .s-push-10 {
        left: 83.33333333%;
    }
    .s-push-9 {
        left: 75%;
    }
    .s-push-8 {
        left: 66.66666667%;
    }
    .s-push-7 {
        left: 58.33333333%;
    }
    .s-push-6 {
        left: 50%;
    }
    .s-push-5 {
        left: 41.66666667%;
    }
    .s-push-4 {
        left: 33.33333333%;
    }
    .s-push-3 {
        left: 25%;
    }
    .s-push-2 {
        left: 16.66666667%;
    }
    .s-push-1 {
        left: 8.33333333%;
    }
    .s-push-0 {
        left: auto;
    }
    .s-offset-12 {
        margin-left: 100%;
    }
    .s-offset-11 {
        margin-left: 91.66666667%;
    }
    .s-offset-10 {
        margin-left: 83.33333333%;
    }
    .s-offset-9 {
        margin-left: 75%;
    }
    .s-offset-8 {
        margin-left: 66.66666667%;
    }
    .s-offset-7 {
        margin-left: 58.33333333%;
    }
    .s-offset-6 {
        margin-left: 50%;
    }
    .s-offset-5 {
        margin-left: 41.66666667%;
    }
    .s-offset-4 {
        margin-left: 33.33333333%;
    }
    .s-offset-3 {
        margin-left: 25%;
    }
    .s-offset-2 {
        margin-left: 16.66666667%;
    }
    .s-offset-1 {
        margin-left: 8.33333333%;
    }
    .s-offset-0 {
        margin-left: 0;
    }
}


/*======Media query medium identado para trabajo como m-'n' el No de columna en el grid========= */

@media (min-width: 671px) and (max-width: 1140px) {
    .m-1, .m-2, .m-3, .m-4, .m-5, .m-6, .m-7, .m-8, .m-9, .m-10, .m-11, .m-12 {
        float: left;
    }
    .m-12 {
        width: 100%;
    }
    .m-11 {
        width: 91.66666667%;
    }
    .m-10 {
        width: 83.33333333%;
    }
    .m-9 {
        width: 75%;
    }
    .m-8 {
        width: 66.66666667%;
    }
    .m-7 {
        width: 58.33333333%;
    }
    .m-6 {
        width: 50%;
    }
    .m-5 {
        width: 41.66666667%;
    }
    .m-4 {
        width: 33.33333333%;
    }
    .m-3 {
        width: 25%;
    }
    .m-2 {
        width: 16.66666667%;
    }
    .m-1 {
        width: 8.33333333%;
    }
    .m-pull-12 {
        right: 100%;
    }
    .m-pull-11 {
        right: 91.66666667%;
    }
    .m-pull-10 {
        right: 83.33333333%;
    }
    .m-pull-9 {
        right: 75%;
    }
    .m-pull-8 {
        right: 66.66666667%;
    }
    .m-pull-7 {
        right: 58.33333333%;
    }
    .m-pull-6 {
        right: 50%;
    }
    .m-pull-5 {
        right: 41.66666667%;
    }
    .m-pull-4 {
        right: 33.33333333%;
    }
    .m-pull-3 {
        right: 25%;
    }
    .m-pull-2 {
        right: 16.66666667%;
    }
    .m-pull-1 {
        right: 8.33333333%;
    }
    .m-pull-0 {
        right: auto;
    }
    .m-push-12 {
        left: 100%;
    }
    .m-push-11 {
        left: 91.66666667%;
    }
    .m-push-10 {
        left: 83.33333333%;
    }
    .m-push-9 {
        left: 75%;
    }
    .m-push-8 {
        left: 66.66666667%;
    }
    .m-push-7 {
        left: 58.33333333%;
    }
    .m-push-6 {
        left: 50%;
    }
    .m-push-5 {
        left: 41.66666667%;
    }
    .m-push-4 {
        left: 33.33333333%;
    }
    .m-push-3 {
        left: 25%;
    }
    .m-push-2 {
        left: 16.66666667%;
    }
    .m-push-1 {
        left: 8.33333333%;
    }
    .m-push-0 {
        left: auto;
    }
    .m-offset-12 {
        margin-left: 100%;
    }
    .m-offset-11 {
        margin-left: 91.66666667%;
    }
    .m-offset-10 {
        margin-left: 83.33333333%;
    }
    .m-offset-9 {
        margin-left: 75%;
    }
    .m-offset-8 {
        margin-left: 66.66666667%;
    }
    .m-offset-7 {
        margin-left: 58.33333333%;
    }
    .m-offset-6 {
        margin-left: 50%;
    }
    .m-offset-5 {
        margin-left: 41.66666667%;
    }
    .m-offset-4 {
        margin-left: 33.33333333%;
    }
    .m-offset-3 {
        margin-left: 25%;
    }
    .m-offset-2 {
        margin-left: 16.66666667%;
    }
    .m-offset-1 {
        margin-left: 8.33333333%;
    }
    .m-offset-0 {
        margin-left: 0;
    }
}


/*======Media query large identado para trabajo como s-'n' el No de columna en el grid========= */

@media (min-width: 1141px) {
    .l-1, .l-2, .l-3, .l-4, .l-5, .l-6, .l-7, .l-8, .l-9, .l-10, .l-11, .l-12 {
        float: left;
    }
    .l-12 {
        width: 100%;
    }
    .l-11 {
        width: 91.66666667%;
    }
    .l-10 {
        width: 83.33333333%;
    }
    .l-9 {
        width: 75%;
    }
    .l-8 {
        width: 66.66666667%;
    }
    .l-7 {
        width: 58.33333333%;
    }
    .l-6 {
        width: 50%;
    }
    .l-5 {
        width: 41.66666667%;
    }
    .l-4 {
        width: 33.33333333%;
    }
    .l-3 {
        width: 25%;
    }
    .l-2 {
        width: 16.66666667%;
    }
    .l-1 {
        width: 8.33333333%;
    }
    .l-pull-12 {
        right: 100%;
    }
    .l-pull-11 {
        right: 91.66666667%;
    }
    .l-pull-10 {
        right: 83.33333333%;
    }
    .l-pull-9 {
        right: 75%;
    }
    .l-pull-8 {
        right: 66.66666667%;
    }
    .l-pull-7 {
        right: 58.33333333%;
    }
    .l-pull-6 {
        right: 50%;
    }
    .l-pull-5 {
        right: 41.66666667%;
    }
    .l-pull-4 {
        right: 33.33333333%;
    }
    .l-pull-3 {
        right: 25%;
    }
    .l-pull-2 {
        right: 16.66666667%;
    }
    .l-pull-1 {
        right: 8.33333333%;
    }
    .l-pull-0 {
        right: auto;
    }
    .l-push-12 {
        left: 100%;
    }
    .l-push-11 {
        left: 91.66666667%;
    }
    .l-push-10 {
        left: 83.33333333%;
    }
    .l-push-9 {
        left: 75%;
    }
    .l-push-8 {
        left: 66.66666667%;
    }
    .l-push-7 {
        left: 58.33333333%;
    }
    .l-push-6 {
        left: 50%;
    }
    .l-push-5 {
        left: 41.66666667%;
    }
    .l-push-4 {
        left: 33.33333333%;
    }
    .l-push-3 {
        left: 25%;
    }
    .l-push-2 {
        left: 16.66666667%;
    }
    .l-push-1 {
        left: 8.33333333%;
    }
    .l-push-0 {
        left: auto;
    }
    .l-offset-12 {
        margin-left: 100%;
    }
    .l-offset-11 {
        margin-left: 91.66666667%;
    }
    .l-offset-10 {
        margin-left: 83.33333333%;
    }
    .l-offset-9 {
        margin-left: 75%;
    }
    .l-offset-8 {
        margin-left: 66.66666667%;
    }
    .l-offset-7 {
        margin-left: 58.33333333%;
    }
    .l-offset-6 {
        margin-left: 50%;
    }
    .l-offset-5 {
        margin-left: 41.66666667%;
    }
    .l-offset-4 {
        margin-left: 33.33333333%;
    }
    .l-offset-3 {
        margin-left: 25%;
    }
    .l-offset-2 {
        margin-left: 16.66666667%;
    }
    .l-offset-1 {
        margin-left: 8.33333333%;
    }
    .l-offset-0 {
        margin-left: 0;
    }
}


/*=========cycle2 slider estilos====================*/

#outside {
    position: relative;
    color: #212121;
    font-family: inherit;
}

#outside .cycle-slideshow img {
    width: 100%;
    height: auto;
}

#outside>.nav {
    position: absolute;
    top: 50%;
    z-index: 999;
    width: 100%;
}

.nav>.next {
    float: right;
    padding: 1%;
    cursor: pointer;
    height: 100%;
    opacity: .4;
    text-align: right;
}

.nav>.next:hover {
    float: right;
    padding: 1%;
    cursor: pointer;
    height: 100%;
    background-color: #FFF;
    opacity: .6;
    -webkit-transition: .2s;
    transition: .2s;
}

.nav>.next img {
    width: 80%;
    height: auto;
}

.nav>.prev {
    float: left;
    padding: 1%;
    cursor: pointer;
    height: 100%;
    opacity: .4;
    -webkit-transition: .2s;
    transition: .2s;
}

.nav>.prev:hover {
    float: left;
    padding: 1%;
    cursor: pointer;
    height: 100%;
    background-color: #FFF;
    opacity: .6;
}

.nav>.prev img {
    width: 80%;
    height: auto;
}

#progress {
    position: absolute;
    bottom: 0;
    height: 3px;
    width: 0px;
    background-color: #c00;
    z-index: 500;
}
.cont-tags ul{
    padding: 0
}

@media only screen
  and (max-width: 820px)
{
.cita{padding: 1rem; max-width: 400px; display: block; margin: auto;}
.autor{margin-bottom: 1.2rem}
.b-box{ margin: 4rem auto 1rem auto }
.bg-ins{height: 450px}
}

@media only screen
  and (max-width: 420px)
{
    .tittle .magno{font-size:4rem}
    .sub-tittle{font-size:1.2rem}
    #section-01 .wrapper{bottom: 8%;}
    #section-01 .fondo-intro .rostro-rulfo { right: 10%; width: 70%;}
    .redes ul li { margin: 10px 3px;}
}

@media only screen
 and (min-width: 821px)
  and (max-width: 1025px)
{
    .tittle .magno{font-size:6.7rem}
    .sub-tittle{font-size:1.2rem}
    #section-01 .fondo-intro .rostro-rulfo{height: 100%}
}


/*=========Carousell==========*/
